
<div class="game-name">
  <ul>
    <li class="game-name__title">
      {{model.game.title}}
      <div class="image-container__description">
        <img src="{{model.game.image}}" alt="" class="game-pic">
      </div>
    </li>
<li class="game-item">{{model.game.description}}</li>
<p class="game-item">Players: {{model.game.minPlayers}} - {{model.game.maxPlayers}}</p>
<p class="game-item">Designers -  {{model.game.designers}}</p>
<p class="game-item">Publishers -  {{model.game.publishers}}</p>
<p class="game-item">Artists -  {{model.game.artists}}</p>
<p class="game-item">Year Published -  {{model.game.yearPublished}}</p>
  </ul>

</div>

<h2 class="room-title">{{model.game.title}} Chat Room</h2>

<div class="chatroom-container">
  {{#if session.isAuthenticated}}
    <div class="chatroom-container__content">
      {{#each model.messages as |message|}}
      <p class="message-text">
        <span class="created-at">(timestamp)</span>
        <span class="user-name">(username)</span>
        <span class="post-content">(message)</span>
      </p>
      {{/each}}
    </div>
    <form class="post__container" {{action postMessage newPost on="submit"}}>
      {{input class="post-input" value=newPost placeholder="find your boardmeeting"}}
      <button class="post-btn">Giggity</button>
    </form>

  {{else}}

    <div class="denial-page">
      <p class="denial-text">You must be looged in to view the chat.</p>
      {{#link-to "login"}}
        <button class="denial-button">Login</button>
      {{/link-to}}
      <p class="denial-text">If you are not already registered, you can do so here.</p>
      {{#link-to "register"}}
        <button class="denial-button">Register</button>
      {{/link-to}}
    </div>
  {{/if}}
</div>
