<div name="game-name">
  <ul class="game-ul">
    {{#each model as |game|}}
      <li class="game-profile">
        <div class="image-container">
          <img src="{{game.image}}" alt="" class="game-pic">
        </div>

        <div class="game-info-stuff">
          <ul class="info-ul">
            <li class="info-ul__fields"><h6 class="info-ul__title">{{game.title}}</h6></li>
            <li class="info-ul__fields"><h6 class="info-ul__players">Suggested Players: {{game.minPlayers}} - {{game.maxPlayers}}</h6></li>
          </ul>
          {{#link-to "games.info" game.id}}
            <button class="info-button">Info</button>
          {{/link-to}}
        </div>

      </li>
    {{/each}}
  </ul>

</div>


{{outlet}}
